MONGO_URI=mongodb://localhost:27017
MONGO_DB=sigbah
MONGO_USERNAME=admin
MONGO_PASSWORD=secret

SMTP_HOST=localhost
SMTP_PORT=2525
SMTP_FROM=sigbah@sigbah.local

COORDENADOR_EMAIL=coordenador@if.ufrgs.br
SECRETARY_EMAIL=secretario@ufrgs.br

FRONTEND_BASE_URL=http://localhost:5173
